.col-md-6 {
  padding-left: 300px;
}

.header {
  text-align: center;
}

.lined input, h5  {
  float: left;
}
.lined input {
  margin-left: 80px;
}

.lined button {
  margin-left: 20px;
}

.repo {
  text-align: left;
  width: 300px;
  height: 150px;
  float: left;
}
