.col-md-6 {
  padding-left: 300px;
}

.header {
  text-align: center;
}

.lined input, h5  {
  float: left;
}
.lined input {
  margin-left: 80px;
}

.lined button {
  margin-left: 20px;
}

.repos {
  display: none;
}

.userInfo {
  display: none;
}
